#b{
    height:300px;
    width: 200px;
}
#d{
    height:300px;
    width: 200px;
}
#f{
    height:300px;
    width: 200px;
}
 #n{
    color: white;
 }
 #q{
    color: white;
 }
 #v{
    color: white;
 }
body{
    background:linear-gradient(to Right,rgb(0, 140, 255),rgb(7, 17, 104),rgb(0, 0, 0)) ;
}
#p{
    color:white;
}
#r{
    color:white;
}
#m{
    font-size:50px;
    color:white;
}
